<div class="relative flex w-[calc(100%-50px)] flex-col gap-1 md:gap-3 lg:w-[calc(100%-115px)]">
  <div class="flex flex-grow flex-col gap-3">
    <div
      class="min-h-[20px] flex items-start overflow-x-auto whitespace-pre-wrap break-words flex-col gap-4"
    >
      <div class="markdown prose w-full break-words dark:prose-invert dark">
        <p>
          PWA (Progressive Web App) to pojęcie oznaczające nowoczesne, zaawansowane technologicznie
          aplikacje internetowe, które łączą cechy tradycyjnych stron internetowych z możliwościami
          aplikacji mobilnych. PWA mają na celu dostarczenie użytkownikom lepszego doświadczenia
          użytkownika, niezależnie od urządzenia czy połączenia internetowego.
        </p>
        <p>Oto kilka kluczowych cech i korzyści związanych z PWA:</p>
        <ol>
          <li>
            <p>
              Responsywność: PWA są zaprojektowane w sposób responsywny, co oznacza, że dostosowują
              się do różnych rozmiarów ekranów i urządzeń, takich jak smartfony, tablety czy
              komputery.
            </p>
          </li>
          <li>
            <p>
              Niezależność od połączenia internetowego: PWA mają zdolność do pracy w trybie offline
              lub przy niskiej jakości połączeniu internetowym. Mogą przechowywać pewne dane i
              zasoby lokalnie, co pozwala użytkownikom korzystać z aplikacji nawet w przypadku braku
              połączenia.
            </p>
          </li>
          <li>
            <p>
              Instalowalność: PWA można zainstalować bezpośrednio na urządzeniu użytkownika, tak jak
              tradycyjne aplikacje mobilne. Można je dodać do ekranu głównego, uruchamiać
              bezpośrednio z menu aplikacji i korzystać z nich w pełnym ekranie.
            </p>
          </li>
          <li>
            <p>
              Aktualizacje: PWA automatycznie aktualizują się, bez konieczności pobierania i
              instalowania aktualizacji ze sklepu aplikacji. Użytkownicy otrzymują najnowszą wersję
              aplikacji przy kolejnym uruchomieniu, co eliminuje konieczność ręcznego
              aktualizowania.
            </p>
          </li>
          <li>
            <p>
              Wysoka wydajność: Dzięki technikom takim jak buforowanie, wstępne ładowanie, lazy
              loading czy minimalizacja rozmiaru plików, PWA oferują szybkie czasy ładowania i
              płynne interakcje, co przyczynia się do doskonałego doświadczenia użytkownika.
            </p>
          </li>
          <li>
            <p>
              Bezpieczeństwo: PWA muszą być dostarczane przez bezpieczne połączenie HTTPS, co
              zapewnia poufność i integralność przesyłanych danych.
            </p>
          </li>
        </ol>
        <p>
          PWA są tworzone przy użyciu standardowych technologii internetowych, takich jak HTML, CSS
          i JavaScript, oraz nowych standardów i API, takich jak Service Workers i Web App Manifest.
          Frameworki takie jak Angular, React i Vue.js oferują wsparcie dla tworzenia PWA.
        </p>
        <p>
          Dzięki swoim zaletom, PWA są coraz bardziej popularne i znajdują zastosowanie w różnych
          branżach, od e-commerce i mediów społecznościowych po usługi finansowe i wiele innych,
          dostarczając użytkownikom zaawansowane funkcje aplikacji mobilnych bez konieczności
          pobierania i instalowania tradycyjnych aplikacji z App Store'a czy Google Play.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between lg:block">
    <div
      class="text-gray-400 flex self-end lg:self-center justify-center mt-2 gap-2 md:gap-3 lg:gap-1 lg:absolute lg:top-0 lg:translate-x-full lg:right-0 lg:mt-0 lg:pl-2 visible"
    >
      <button
        class="flex ml-auto gap-2 rounded-md p-1 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
        </svg>
      </button>
      <div class="flex gap-1">
        <button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
            ></path>
          </svg></button
        ><button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
