<div class="relative flex w-[calc(100%-50px)] flex-col gap-1 md:gap-3 lg:w-[calc(100%-115px)]">
  <div class="flex flex-grow flex-col gap-3">
    <div
      class="min-h-[20px] flex items-start overflow-x-auto whitespace-pre-wrap break-words flex-col gap-4"
    >
      <div class="markdown prose w-full break-words dark:prose-invert dark">
        <p>Oto krótkie definicje kilku popularnych kodów odpowiedzi HTTP:</p>
        <ol>
          <li>
            <p>
              200 OK: Kod 200 oznacza pomyślne wykonanie żądania. Serwer poprawnie przetworzył
              żądanie i zwraca odpowiedź zawierającą żądane zasoby.
            </p>
          </li>
          <li>
            <p>
              201 Created: Kod 201 oznacza utworzenie nowego zasobu. Zwykle jest używany w
              odpowiedzi na żądanie POST, gdy zasób został pomyślnie utworzony na serwerze.
            </p>
          </li>
          <li>
            <p>
              202 Accepted: Kod 202 oznacza, że żądanie zostało przyjęte do przetworzenia, ale jego
              wykonanie może być opóźnione. Serwer może kontynuować przetwarzanie żądania w tle i
              nie zwracać natychmiast odpowiedzi ostatecznej.
            </p>
          </li>
          <li>
            <p>
              400 Bad Request: Kod 400 oznacza, że żądanie było niepoprawne lub niezrozumiałe dla
              serwera. Może to wynikać z błędnych danych, nieprawidłowej składni żądania lub innych
              problemów po stronie klienta.
            </p>
          </li>
          <li>
            <p>
              403 Forbidden: Kod 403 oznacza, że dostęp do zasobu został zabroniony. Serwer
              rozpoznaje żądanie, ale odmawia dostępu ze względu na brak odpowiednich uprawnień.
              Klient nie ma autoryzacji do przeglądania lub modyfikowania zasobu.
            </p>
          </li>
          <li>
            <p>
              404 Not Found: Kod 404 oznacza, że żądany zasób nie został znaleziony na serwerze.
              Może to wynikać z błędnie podanego adresu URL, usunięcia zasobu lub nieistnienia
              zasobu na serwerze.
            </p>
          </li>
          <li>
            <p>
              500 Internal Server Error: Kod 500 oznacza wystąpienie nieoczekiwanej sytuacji po
              stronie serwera, która uniemożliwia wykonanie żądania. Oznacza to ogólny błąd
              wewnętrzny serwera, który może wynikać z błędów konfiguracji, problemów z bazą danych
              lub innych nieprzewidzianych sytuacji.
            </p>
          </li>
        </ol>
        <p>
          Te kody odpowiedzi HTTP są często używane przez serwery do komunikacji stanu żądań i
          odpowiedzi między klientem a serwerem.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between lg:block">
    <div
      class="text-gray-400 flex self-end lg:self-center justify-center mt-2 gap-2 md:gap-3 lg:gap-1 lg:absolute lg:top-0 lg:translate-x-full lg:right-0 lg:mt-0 lg:pl-2 visible"
    >
      <button
        class="flex ml-auto gap-2 rounded-md p-1 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
        </svg>
      </button>
      <div class="flex gap-1">
        <button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
            ></path>
          </svg></button
        ><button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
