<div class="relative flex w-[calc(100%-50px)] flex-col gap-1 md:gap-3 lg:w-[calc(100%-115px)]">
  <div class="flex flex-grow flex-col gap-3">
    <div
      class="min-h-[20px] flex items-start overflow-x-auto whitespace-pre-wrap break-words flex-col gap-4"
    >
      <div class="markdown prose w-full break-words dark:prose-invert dark">
        <p>
          Dyrektywy i komponenty są podstawowymi elementami w Angularze, które pozwalają rozszerzać
          funkcjonalność i strukturę aplikacji. Choć mają pewne podobieństwa, istnieją również
          istotne różnice między nimi.
        </p>
        <p>Komponenty:</p>
        <ul>
          <li>Komponenty są podstawowymi elementami w Angularze.</li>
          <li>
            Składają się z szablonu, który definiuje strukturę i układ widoku, oraz klasy, która
            zawiera logikę i dane związane z komponentem.
          </li>
          <li>
            Komponenty mają swoją własną izolowaną przestrzeń i mogą przechowywać wewnętrzny stan za
            pomocą właściwości i metod zdefiniowanych w klasie komponentu.
          </li>
          <li>Mogą być wielokrotnie używane i instancjonowane w całej aplikacji.</li>
          <li>
            Komponenty służą do tworzenia elementów interfejsu użytkownika, takich jak przyciski,
            formularze, nagłówki czy dowolne niestandardowe elementy wizualne.
          </li>
        </ul>
        <p>Dyrektywy:</p>
        <ul>
          <li>
            Dyrektywy służą do modyfikowania zachowania lub wyglądu istniejącego elementu lub
            komponentu w DOMie.
          </li>
          <li>
            Istnieją dwa rodzaje dyrektyw w Angularze: dyrektywy strukturalne i dyrektywy atrybutów.
            <ul>
              <li>
                Dyrektywy strukturalne, takie jak *ngIf i *ngFor, modyfikują strukturę DOMu przez
                dodawanie lub usuwanie elementów.
              </li>
              <li>
                Dyrektywy atrybutów, takie jak ngStyle lub ngClass, modyfikują zachowanie lub wygląd
                elementu, manipulując jego atrybutami lub stosując klasy CSS.
              </li>
            </ul>
          </li>
          <li>
            Dyrektywy są stosowane do elementów za pomocą składni przypominającej atrybuty w HTMLu.
          </li>
          <li>
            Dyrektywy nie posiadają własnych szablonów lub widoków, ale działają na istniejących
            elementach.
          </li>
          <li>
            Mogą być używane do enkapsulacji wielokrotnego użytku oraz mogą być stosowane do wielu
            elementów lub komponentów.
          </li>
        </ul>
        <p>
          Podsumowując, komponenty są podstawowymi elementami budowy aplikacji w Angularze i są
          odpowiedzialne za tworzenie wielokrotnie używanych elementów interfejsu użytkownika z
          własnymi szablonami i logiką. Natomiast dyrektywy służą do modyfikowania zachowania lub
          wyglądu istniejących elementów lub komponentów w DOMie. Pozwalają na rozszerzanie i
          dostosowywanie zachowania aplikacji bez konieczności tworzenia oddzielnych komponentów.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between lg:block">
    <div
      class="text-gray-400 flex self-end lg:self-center justify-center mt-2 gap-2 md:gap-3 lg:gap-1 lg:absolute lg:top-0 lg:translate-x-full lg:right-0 lg:mt-0 lg:pl-2 visible"
    >
      <button
        class="flex ml-auto gap-2 rounded-md p-1 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
        </svg>
      </button>
      <div class="flex gap-1">
        <button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
            ></path>
          </svg></button
        ><button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
