<div class="relative flex w-[calc(100%-50px)] flex-col gap-1 md:gap-3 lg:w-[calc(100%-115px)]">
  <div class="flex flex-grow flex-col gap-3">
    <div
      class="min-h-[20px] flex items-start overflow-x-auto whitespace-pre-wrap break-words flex-col gap-4"
    >
      <div class="markdown prose w-full break-words dark:prose-invert dark">
        <p>
          SEO (Search Engine Optimization) to proces optymalizacji witryny internetowej w celu
          poprawy jej widoczności w wynikach organicznych wyszukiwarek internetowych. Celem SEO jest
          zwiększenie ruchu na stronie poprzez uzyskanie wyższych pozycji w wynikach wyszukiwania
          dla odpowiednich fraz kluczowych.
        </p>
        <p>Oto kilka kluczowych czynników wpływających na SEO:</p>
        <ol>
          <li>
            <p>
              Relewantne treści: Twórz treści wysokiej jakości, bogate w informacje i wartościowe
              dla użytkowników. Dostarczaj unikalne i oryginalne treści, które są związane z
              tematyką strony. Unikaj kopiowania treści z innych stron.
            </p>
          </li>
          <li>
            <p>
              Słowa kluczowe: Wybierz odpowiednie słowa kluczowe, które są istotne dla Twojej
              witryny i mają wysokie zapytania w wyszukiwarkach. Włącz te słowa kluczowe w tytuły
              stron, nagłówki, treść tekstu i tagi meta.
            </p>
          </li>
          <li>
            <p>
              Optymalizacja techniczna: Upewnij się, że Twoja witryna ma odpowiednią strukturę kodu
              i jest zgodna z zasadami HTML, CSS i innych technologii internetowych. Skup się na
              szybkości ładowania strony, zoptymalizuj obrazy, skompresuj pliki CSS i JavaScript.
            </p>
          </li>
          <li>
            <p>
              Linkowanie wewnętrzne: Twórz odpowiednie linki wewnętrzne na swojej stronie, które
              pomagają użytkownikom nawigować po witrynie i przekazywać linkową wartość do innych
              stron na Twojej stronie.
            </p>
          </li>
          <li>
            <p>
              Linki zewnętrzne: Stwórz wartościowe treści, które przyciągną linki zewnętrzne od
              innych witryn. Linki zewnętrzne od wiarygodnych i autorytarnych stron mogą pomóc w
              poprawie pozycji Twojej witryny w wynikach wyszukiwania.
            </p>
          </li>
          <li>
            <p>
              Responsywność i mobilność: Upewnij się, że Twoja witryna jest responsywna i dobrze
              wyświetla się na różnych urządzeniach mobilnych. Mobilne przyjazne strony mają lepsze
              szanse na uzyskanie wyższych pozycji w wynikach wyszukiwania.
            </p>
          </li>
          <li>
            <p>
              Analiza danych: Monitoruj ruch na stronie, korzystając z narzędzi do analizy, takich
              jak Google Analytics. Analizuj dane, takie jak liczba odwiedzin, czas spędzony na
              stronie, współczynnik odrzutów itp., aby zrozumieć, jak użytkownicy korzystają z
              Twojej witryny i jak możesz ją poprawić.
            </p>
          </li>
        </ol>
        <p>
          Warto pamiętać, że SEO to długotrwały proces, który wymaga ciągłego monitorowania,
          optymalizacji i dostosowywania strategii w zależności od zmieniających się algorytmów
          wyszukiwarek i preferencji użytkowników. Ważne jest również, aby stosować się do
          wytycznych wys
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between lg:block">
    <div
      class="text-gray-400 flex self-end lg:self-center justify-center mt-2 gap-2 md:gap-3 lg:gap-1 lg:absolute lg:top-0 lg:translate-x-full lg:right-0 lg:mt-0 lg:pl-2 visible"
    >
      <button
        class="flex ml-auto gap-2 rounded-md p-1 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
        </svg>
      </button>
      <div class="flex gap-1">
        <button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
            ></path>
          </svg></button
        ><button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
