<div class="relative flex w-[calc(100%-50px)] flex-col gap-1 md:gap-3 lg:w-[calc(100%-115px)]">
  <div class="flex flex-grow flex-col gap-3">
    <div
      class="min-h-[20px] flex items-start overflow-x-auto whitespace-pre-wrap break-words flex-col gap-4"
    >
      <div class="markdown prose w-full break-words dark:prose-invert dark">
        <p>
          TypeScript i JavaScript są dwoma językami programowania, które są wykorzystywane do
          tworzenia aplikacji internetowych. Oto porównanie między nimi:
        </p>
        <p>JavaScript:</p>
        <ul>
          <li>
            JavaScript to dynamiczny język skryptowy, który jest interpretowany przez przeglądarki
            internetowe.
          </li>
          <li>
            Jest szeroko stosowany w tworzeniu interaktywnych stron internetowych, aplikacji
            webowych i innych projektów front-endowych i back-endowych.
          </li>
          <li>
            Jest językiem nieskompilowanym, co oznacza, że kod JavaScript jest wykonywany
            bezpośrednio przez interpreter w przeglądarce.
          </li>
          <li>
            Nie wymaga żadnego procesu kompilacji ani deklarowania typów danych, co daje dużą
            swobodę w programowaniu.
          </li>
          <li>
            Posiada bogatą i rozbudowaną bibliotekę i ekosystem, w którym dostępne są różnorodne
            narzędzia, frameworki i biblioteki, takie jak React, Angular, czy Node.js.
          </li>
          <li>
            Jest dobrze obsługiwany przez wszystkie współczesne przeglądarki i jest praktycznie
            niezbędny do tworzenia aplikacji internetowych.
          </li>
        </ul>
        <p>TypeScript:</p>
        <ul>
          <li>
            TypeScript jest nadzbiorem języka JavaScript, co oznacza, że każdy poprawny kod
            JavaScript jest również poprawnym kodem TypeScript.
          </li>
          <li>
            Dodaje statyczną typizację do JavaScript, co oznacza, że można deklarować typy danych
            dla zmiennych, parametrów funkcji i innych elementów kodu.
          </li>
          <li>
            Typy w TypeScript pomagają w wykrywaniu błędów i ułatwiają refaktoryzację kodu. Pomagają
            również w dokumentacji i zrozumieniu kodu.
          </li>
          <li>
            TypeScript wymaga procesu kompilacji, w wyniku czego generowany jest czysty kod
            JavaScript, który jest wykonywany w przeglądarce.
          </li>
          <li>
            Jest rozwijany i wspierany przez Microsoft oraz ma rozbudowane narzędzia deweloperskie,
            takie jak TypeScript Compiler (tsc) i narzędzia IDE.
          </li>
          <li>
            Może być używany zarówno po stronie klienta, jak i po stronie serwera z pomocą
            środowiska uruchomieniowego Node.js.
          </li>
          <li>
            TypeScript jest popularny wśród programistów tworzących większe i bardziej złożone
            projekty, którzy doceniają korzyści płynące z typowania statycznego i lepszej obsługi
            błędów w kodzie.
          </li>
        </ul>
        <p>
          Podsumowując, JavaScript jest językiem skryptowym powszechnie używanym do tworzenia
          aplikacji internetowych, podczas gdy TypeScript jest rozszerzeniem JavaScript, które
          dodaje statyczną typizację. Wybór między nimi zależy od preferencji programisty, rodzaju
          projektu oraz skali i złożoności aplikacji.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between lg:block">
    <div
      class="text-gray-400 flex self-end lg:self-center justify-center mt-2 gap-2 md:gap-3 lg:gap-1 lg:absolute lg:top-0 lg:translate-x-full lg:right-0 lg:mt-0 lg:pl-2 visible"
    >
      <button
        class="flex ml-auto gap-2 rounded-md p-1 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
        </svg>
      </button>
      <div class="flex gap-1">
        <button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
            ></path>
          </svg></button
        ><button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div
      class="flex justify-between items-center p-4 rounded-md bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 text-sm"
    >
      <div class="mr-4">Was this response better or worse?</div>
      <button
        title="This response was better than the previous response"
        class="p-2 rounded-md hover:bg-gray-200 hover:text-gray-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-200 flex items-center gap-2"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4 mr-1"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
          ></path></svg
        >Better</button
      ><button
        title="This response was worse than the previous response"
        class="p-2 rounded-md hover:bg-gray-200 hover:text-gray-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-200 flex items-center gap-2"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4 mr-1"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"
          ></path></svg
        >Worse</button
      ><button
        title="This response was the same in quality"
        class="p-2 rounded-md hover:bg-gray-200 hover:text-gray-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-200 flex items-center gap-2"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4 mr-1 rounded-full border border-gray-400 dark:border-gray-300"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <desc></desc>
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 9h14m-14 6h14"></path></svg
        >Same</button
      ><button
        title="Skip this comparison"
        class="p-2 rounded-md hover:bg-gray-200 hover:text-gray-800 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-200 flex items-center gap-2"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
  </div>
</div>
