<div class="relative flex w-[calc(100%-50px)] flex-col gap-1 md:gap-3 lg:w-[calc(100%-115px)]">
  <div class="flex flex-grow flex-col gap-3">
    <div
      class="min-h-[20px] flex items-start overflow-x-auto whitespace-pre-wrap break-words flex-col gap-4"
    >
      <div class="markdown prose w-full break-words dark:prose-invert dark">
        <p>
          Web Components to zestaw standardów webowych, które umożliwiają tworzenie i ponowne
          wykorzystywanie własnych komponentów interfejsu użytkownika w sposób niezależny od
          frameworków czy bibliotek JavaScript. Składają się one z trzech głównych technologii:
        </p>
        <ol>
          <li>
            <p>
              Custom Elements: Custom Elements umożliwiają tworzenie własnych elementów HTML o
              niestandardowych nazwach i zachowaniu. Dzięki temu można tworzyć własne komponenty,
              takie jak <code>&lt;my-button&gt;</code> czy <code>&lt;my-carousel&gt;</code>, które
              mogą być używane jak dowolne standardowe elementy HTML.
            </p>
          </li>
          <li>
            <p>
              Shadow DOM: Shadow DOM pozwala na izolację stylów i struktury DOM wewnątrz danego
              komponentu. Każdy komponent może posiadać swój własny Shadow DOM, w którym definiuje
              się style CSS i strukturę HTML. To zapobiega konfliktom stylów i skrywa wewnętrzną
              implementację komponentu.
            </p>
          </li>
          <li>
            <p>
              HTML Templates: HTML Templates pozwalają na tworzenie szablonów HTML, które można
              zduplikować i używać wielokrotnie w różnych miejscach. Szablony te nie są renderowane
              na stronie do momentu, aż zostaną użyte przez skrypt JavaScript, co umożliwia
              dynamiczne tworzenie i wstawianie komponentów.
            </p>
          </li>
        </ol>
        <p>
          Web Components są zgodne ze standardami W3C i są obsługiwane przez większość nowoczesnych
          przeglądarek. Dzięki nim możemy tworzyć hermetyczne, niezależne od siebie komponenty,
          które można używać w różnych projektach i frameworkach.
        </p>
        <p>
          Niezależność od frameworków daje elastyczność i umożliwia ponowne wykorzystywanie
          komponentów w różnych kontekstach. Możemy także integrować Web Components z istniejącym
          kodem JavaScript czy frameworkami, co czyni je uniwersalnym rozwiązaniem do tworzenia
          modułowych i skalowalnych interfejsów użytkownika.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-between lg:block">
    <div
      class="text-gray-400 flex self-end lg:self-center justify-center mt-2 gap-2 md:gap-3 lg:gap-1 lg:absolute lg:top-0 lg:translate-x-full lg:right-0 lg:mt-0 lg:pl-2 visible"
    >
      <button
        class="flex ml-auto gap-2 rounded-md p-1 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
      >
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
        </svg>
      </button>
      <div class="flex gap-1">
        <button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"
            ></path>
          </svg></button
        ><button
          class="p-1 rounded-md hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200 disabled:dark:hover:text-gray-400"
        >
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
