<div class="d-flex align-items-center">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-collapse"
    aria-controls="navbar-collapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<div class="collapse navbar-collapse flex-column" id="navbar-collapse">
  <ul class="navbar-nav d-lg-block">
    <li *ngFor="let item of pages$ | async; let i = index" class="nav-item active">
      <a class="nav-link" [routerLink]="item.path" [routerLinkActive]="'text-info'"
        >{{ i }}&nbsp; {{ item.path }}</a
      >
    </li>
  </ul>
  <hr />
</div>
